<h1 mat-dialog-title>Добавить книгу</h1>

<div mat-dialog-content>
  <form [formGroup]="bookForm">
    <div formGroupName="author">
      <mat-form-field>
        <mat-label>Имя автора</mat-label>
        <input matInput type="text" formControlName="firstName">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Фамилия автора</mat-label>
        <input matInput type="text" formControlName="lastName">
      </mat-form-field>
    </div>
    <mat-form-field>
      <mat-label>Название</mat-label>
      <input matInput type="text" formControlName="name">
    </mat-form-field>
  </form>
</div>

<div mat-dialog-actions>
  <button mat-button (click)="onCancelClick()">Отмена</button>
  <button mat-button (click)="onAddClick()" [disabled]="bookForm.invalid">Добавить</button>
</div>
