<mat-sidenav-container>
  <mat-sidenav mode="side" [opened]="isSidenavOpened">
    <mat-nav-list>
      <a mat-list-item routerLink="page-1" routerLinkActive="mat-mdc-list-item-active" [routerLinkActiveOptions]="{exact: true}">
        <mat-icon>home</mat-icon>
        Моя страница
      </a>
      <a mat-list-item routerLink="books" routerLinkActive="mat-mdc-list-item-active" [routerLinkActiveOptions]="{exact: true}">
        <mat-icon>mode_comment</mat-icon>
        Книги
      </a>
      <a mat-list-item routerLink="page-3" routerLinkActive="mat-mdc-list-item-active" [routerLinkActiveOptions]="{exact: true}">
        <mat-icon>mode_comment</mat-icon>
        Сообщения
      </a>
      <a mat-list-item routerLink="page-4" routerLinkActive="mat-mdc-list-item-active" [routerLinkActiveOptions]="{exact: true}">
        <mat-icon>mode_comment</mat-icon>
        Сообщения
      </a>
      <a mat-list-item routerLink="page-5" routerLinkActive="mat-mdc-list-item-active" [routerLinkActiveOptions]="{exact: true}">
        <mat-icon>mode_comment</mat-icon>
        Сообщения
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
<!--    <button mat-raised-button color='primary' (click)="toggleSidenav()">Toggle sidenav</button>-->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
